:root {
  --font-family: "Roboto", -apple-system, Helvetica, sans-serif;
  --second-family: "Roboto Condensed", -apple-system, Roboto, Helvetica,
    sans-serif;
}

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s;
}

body {
  position: relative;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  height: 100%;
  overflow: hidden;
}

body.visible {
  overflow: visible;
}

.slider-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
}
.slider-container.off {
  overflow: visible;
}

.slider {
  display: flex;
  flex-direction: column;
  touch-action: pan-y;
}

.slide {
  height: 100vh;
  width: 100vw;
}

/* Common */

.accent-color {
  color: #66b72a;
}

.trademark {
  line-height: 90%;
  font-size: 0.7em;
  vertical-align: top;
}

.trademark--white {
  line-height: 90%;
  font-size: 0.7em;
  vertical-align: top;
  color: #ffffff;
}

/* Header styles */
.main-header {
  border-radius: 2px;
  background-color: #66b72a;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: fixed;
  width: 100%;
}

.main-header.accent-bg {
  background-color: #325e18;
}

.header-container {
  width: min(100%, 1220px);
  min-height: 70px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  aspect-ratio: 5.46;
  object-fit: contain;
  object-position: center;
  width: 131px;
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
}

.main-nav {
  border-radius: 0;
  align-self: stretch;
  min-width: 240px;
  margin-top: auto;
  margin-bottom: auto;
  width: 667px;
  font-size: 16px;
  text-transform: uppercase;
}

.header-menu-btn {
  display: none;
  width: 30px;
  height: 24px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  border: none;
}

.header-menu-btn span {
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: #fff;
  transition: rotate 0.2s ease, opacity 0.2s ease;
}

.header-menu-btn.open {
  position: relative;
  z-index: 101;
}

.header-menu-btn.open span:nth-of-type(1) {
  rotate: 45deg;
  translate: 0 11px;
}

.header-menu-btn.open span:nth-of-type(2) {
  opacity: 0;
}

.header-menu-btn.open span:nth-of-type(3) {
  rotate: -45deg;
  translate: 0 -11px;
}

.nav-list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  font-family: var(--second-family);
  color: #ffffff;
  font-weight: 400;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item a {
  position: relative;
  transition: opacity 0.2s ease;
}

.nav-item.disabled a {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .nav-item a:hover {
    opacity: 0.7;
  }

  .nav-item.disabled a:hover {
    color: #fff;
    cursor: auto;
  }
}

@media (max-width: 767px) {
  .nav-item a:active {
    opacity: 0.7;
  }

  .nav-item.disabled a:active {
    color: #fff;
  }
}

.buy-button {
  border-radius: 50px;
  background-color: #fff701;
  align-self: stretch;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  padding: 13px 35px;
  align-items: center;
  gap: 6px;
  font-family: var(--font-family);
  color: #20400d;
  font-weight: 300;
  text-decoration: none;
  text-wrap: nowrap;
}

@media (min-width: 768px) {
  .buy-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
  }
}

@media (max-width: 767px) {
  .buy-button:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
  }
}

@media (max-width: 1023px) {
  .buy-button {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.location-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
  flex-shrink: 0;
}

.header-buy-btn {
  height: 181px;
  width: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff701;
  border-radius: 30px 0 0 30px;
  position: absolute;
  top: 50vh;
  right: 0;
  z-index: 10;
}

.header-buy-btn span {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #20400d;
  text-wrap: nowrap;
  transform: rotate(-90deg);
  translate: 2% -90%;
}

.header-buy-btn img {
  position: absolute;
  bottom: 30px;
  right: 50%;
  translate: 60% 0;
}

@media screen and (max-width: 1023px) {
  .main-nav {
    text-transform: capitalize;
  }

  .nav-list {
    justify-content: space-around;
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    min-height: 50px;
  }

  .main-nav {
    width: 100%;
    height: 100vh;
    padding-top: 20vh;
    background-color: #64b22a;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    translate: 0 -100%;
    z-index: 100;
    transition: translate 0.3s ease;
    font-size: 16px;
    text-transform: uppercase;
    visibility: hidden;
  }

  .main-nav.open {
    translate: 0 0;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    opacity: 0;
  }

  .main-nav.open .nav-list {
    opacity: 1;
  }

  .header-menu-btn {
    display: flex;
  }

  .buy-button {
    margin-left: auto;
    margin-right: 20px;
    padding: 6px 18px;
    font-size: 14px;
  }

  .buy-button svg {
    width: 12px;
    height: 16px;
  }

  .header-buy-btn {
    width: 42px;
    border-radius: 20px 0 0 20px;
    font-size: 16px;
    translate: 0 -50%;
  }
}

/* Hero section */
.hero-section {
  padding-top: 70px;
  position: relative;
  font-family: var(--second-family);
  color: #66b72a;
  font-weight: 600;
  text-transform: uppercase;
  flex-wrap: wrap;
  overflow: hidden;
}

.hero-bg {
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-container {
  width: min(100%, 1220px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.hero-product-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: 60% 35%;
  user-select: none;
  z-index: 1;
}

.hero-woman-img {
  position: absolute;
  bottom: 0;
  right: 25px;
  filter: drop-shadow(12px 19px 50px rgba(0, 0, 0, 0.1));
  user-select: none;
  z-index: 1;
}

.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  position: relative;
  z-index: 2;
}

.hero-title {
  font-size: 34px;
  line-height: 34px;
  margin: 0;
  font-weight: 400;
}

.product-name {
  font-weight: 400;
}

.product-symbol {
  font-size: 0.7em;
  line-height: 110%;
  vertical-align: text-top;
  font-weight: 400;
  color: #66b72a;
}

.product-description {
  font-weight: 400;
  color: #1e1842;
}

.product-reference {
  line-height: 90%;
  font-size: 0.6em;
  vertical-align: top;
  font-weight: 400;
  color: #1e1842;
}

.hero-subtitle {
  max-width: 660px;
  color: #1e1842;
  font-size: 56px;
  line-height: 62px;
  letter-spacing: -1.68px;
  margin-top: 50px;
  margin-bottom: 0;
  font-weight: 600;
}

.scroll-hint {
  align-self: start;
  margin-top: 100px;
  gap: 15px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  display: flex;
  align-items: center;
}

.wheel {
  border: 1px solid #66b72a;
  border-radius: 50px;
  width: 25px;
  height: 45px;
  position: relative;
}

.wheel:before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #66b72a;
  position: absolute;
  top: 7px;
  left: 50%;
  translate: -50% 0;
  animation: wheel-scroll 2s ease infinite;
}

@keyframes wheel-scroll {
  0% {
    opacity: 0;
  }
  20% {
    translate: -50% 0;
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    translate: -50% 320%;
    opacity: 1;
  }

  100% {
    translate: -50% 320%;
    opacity: 0;
  }
}

.scroll-arrow {
  aspect-ratio: 0.34;
  object-fit: contain;
  object-position: center;
  width: 61px;
  border-radius: 0;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
}

@media screen and (max-width: 1279px) {
  .hero-product-img {
    translate: -50% 50%;
  }
}
@media screen and (max-width: 767px) {
  .hero-section {
    position: relative;
  }

  .hero-container {
    align-items: start;
  }

  .hero-content {
    position: static;
  }

  .hero-product-img {
    translate: 0 0;
    bottom: 50px;
    left: auto;
    right: 10px;
  }

  .hero-woman-img {
    right: auto;
    left: 10px;
  }

  .scroll-hint {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }

  .hero-title {
    font-size: 24px;
    line-height: 120%;
    text-align: center;
  }

  .hero-subtitle {
    margin-top: 20px;
    font-size: 28px;
    line-height: 100%;
    text-align: center;
  }
}

/* Benefits section */
.benefits-section {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

.benefits-container {
  position: relative;
  display: flex;
  width: min(100%, 1080px);
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  align-items: stretch;
}

.benefits-section .section-title {
  max-width: 846px;
  color: #1e1842;
  font-size: 32px;
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  align-self: center;
  margin-top: 0;
  margin-bottom: 0px;
}

.benefits-section .product-highlight:last-of-type {
  font-size: 0.7em;
  color: #66b72a;
}

.benefits-content {
  margin-top: 48px;
}

.benefits-layout {
  display: flex;
  justify-content: space-between;
}

.benefits-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
}

.benefits-column:first-child {
  flex-shrink: 0;
  margin-left: 0;
}

.benefits-column:last-child {
  min-width: 584px;
}

.product-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
  filter: drop-shadow(15px 12px 12px rgba(84, 84, 84, 0.25));
  flex-grow: 1;
  user-select: none;
}

.benefits-list {
  margin-top: auto;
  margin-bottom: auto;
  align-self: stretch;
  list-style: none;
  padding: 0;
}

.benefit-item {
  border-radius: 50px;
  background-color: #66b72a;
  display: flex;
  max-width: 600px;
  width: 100%;
  padding: 15px 20px;
  align-items: center;
  gap: 20px;
  font-family: var(--second-family);
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.benefit-item:last-child {
  margin-bottom: 0;
}

.benefit-number {
  align-self: stretch;
  border-radius: 100px;
  background-color: #ffffff;
  margin-top: auto;
  margin-bottom: auto;
  min-height: 42px;
  padding: 4px 13px;
  font-size: 32px;
  color: #66b72a;
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
  line-height: 1;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefit-num {
  font-size: 0.65em;
  vertical-align: top;
  line-height: 120%;
}

.benefit-text {
  color: #ffffff;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 20px;
  align-self: stretch;
  margin: 0;
  flex-grow: 1;
  flex-shrink: 1;
  width: 480px;
}

@media screen and (max-width: 1023px) {
  .benefits-layout {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .benefits-section {
    justify-content: start;
  }

  .benefits-section .section-title {
    font-size: 24px;
    line-height: 100%;
  }

  .benefits-content {
    margin-top: 20px;
  }

  .benefits-column:last-child {
    min-width: auto;
  }

  .benefit-item {
    max-width: 100%;
    margin-bottom: 12px;
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
    flex-wrap: nowrap;
  }

  .benefit-text {
    width: 100%;
    font-size: 14px;
  }

  .benefit-number {
    width: 34px;
    height: 34px;
    min-height: 34px;
    font-size: 24px;
  }
}

/* Usage section */
.usage-section {
  padding-top: 70px;
  background-color: #66b72a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usage-container {
  width: min(100%, 1170px);
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.usage-title {
  color: #ffffff;
  font-size: 36px;
  font-family: var(--second-family);
  font-weight: normal;
  line-height: 1;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0px;
}

.usage-content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.usage-images {
  display: flex;
  gap: 24px;
  user-select: none;
}

.usage-instructions {
  padding: 40px;
  border-radius: 30px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  color: #499f0a;
}

.instruction-item {
  align-self: start;
  display: flex;
  align-items: center;
  gap: 17px;
}

.instruction-item img {
  user-select: none;
}

.instruction-item p {
  max-width: 444px;
}

.instruction-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  width: fit-content;
}

.instruction-title {
  font-size: 24px;
  font-family: var(--second-family);
  font-weight: 500;
  text-transform: uppercase;
  align-self: center;
  margin: 0;
  margin-bottom: 20px;
}

.instruction-title span {
  font-size: 0.7em;
  vertical-align: top;
}

.instruction-text {
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
}

.usage-text {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.additional-info {
  color: #ffffff;
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.disclaimer {
  color: #ffffff;
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1;
  text-align: center;
}

@media (max-width: 1023px) {
  .usage-images {
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .usage-container {
    justify-content: start;
  }

  .usage-title {
    font-size: 24px;
  }

  .usage-content {
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
  }

  .usage-instructions {
    padding: 12px;
    border-radius: 20px;
    gap: 12px;
  }

  .usage-images {
    flex-direction: row;
    align-items: center;
  }

  .usage-text {
    margin-top: 20px;
  }

  .instruction-title {
    margin-bottom: 0;
    font-size: 18px;
  }

  .instruction-text {
    font-size: 14px;
  }

  .additional-info {
    font-size: 14px;
  }

  .instruction-icon {
    width: 30px;
    height: 30px;
  }

  .disclaimer {
    font-size: 12px;
  }
}

/* Thrush section */
.thrush-section {
  padding-top: 70px;
  display: flex;
  align-items: center;
}

.thrush-container {
  width: min(100%, 1220px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.thrush-section .section-title {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: #1e1842;
  font-size: 36px;
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 1;
  text-align: center;
  align-self: center;
}

.section-description {
  position: relative;
  color: #1e1842;
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  align-self: center;
  z-index: 10;
  margin-top: 15px;
}

.thrush-content {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  row-gap: 20px;
  list-style-type: none;
}

.thrush-item {
  position: relative;
}

.thrush-item p {
  color: #1e1842;
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.thrush-item:nth-of-type(2) {
  margin-left: 50px;
  padding: 40px;
  border-radius: 30px;
  background: #499f0a;
  position: relative;
  z-index: 1;
}

.thrush-item:nth-of-type(2) img {
  position: absolute;
  bottom: 0;
  right: 9px;
  z-index: -1;
  border-radius: 0 0 18px 0;
  user-select: none;
}

.thrush-item:nth-of-type(3) {
  max-width: 526px;
  padding: 30px 20px 30px 40px;
  border-radius: 30px;
  background: #499f0a;
}

.thrush-item:nth-of-type(4) {
  margin-left: -24px;
  align-self: center;
}

.thrush-item:nth-of-type(1) p {
  max-width: 580px;
  text-align: right;
}

.thrush-item:nth-of-type(2) p {
  max-width: 292px;
}

.thrush-item:nth-of-type(2) p,
.thrush-item:nth-of-type(3) p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
}

@media (max-width: 1279px) {
  .thrush-item:nth-of-type(3) {
    margin-right: 50px;
  }

  .thrush-item:nth-of-type(4) {
    margin-left: 0;
  }
}

@media (max-width: 1023px) {
  .thrush-content {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }

  .thrush-item:nth-of-type(3) {
    margin-right: 20px;
  }

  .thrush-item:nth-of-type(2) {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .thrush-section {
    align-items: start;
  }

  .thrush-section .section-title {
    font-size: 24px;
    line-height: 100%;
  }

  .section-description {
    font-size: 16px;
    line-height: 100%;
  }

  .thrush-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .thrush-content .thrush-item {
    max-width: 526px;
    margin: 0;
    padding: 12px;
    border-radius: 20px;
  }

  .thrush-content .thrush-item p {
    font-size: 14px;
    line-height: 120%;
    text-align: left;
  }

  .thrush-item:nth-of-type(2) {
    order: 1;
    width: 100%;
  }

  .thrush-item:nth-of-type(1) {
    order: 2;
  }

  .thrush-item:nth-of-type(3) {
    order: 3;
  }

  .thrush-item:nth-of-type(4) {
    order: 4;
  }
}
/* Symptoms section */
.symptoms-section {
  padding-top: 70px;
  display: flex;
  align-items: center;
  position: relative;
}

.symptoms-bg {
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0;
  z-index: 0;
}

.symptoms-container {
  width: min(100%, 1220px);
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.symptoms-section .section-title {
  margin-top: auto;
  color: #e4e5e5;
  font-size: 36px;
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 1;
  text-align: center;
  position: relative;
  z-index: 2;
}

.symptoms-section .section-description {
  margin-bottom: auto;
  position: relative;
  color: #e4e5e5;
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1;
  text-align: center;
  margin-top: 10px;
  z-index: 2;
}

.symptoms-list {
  margin-bottom: 40px;
  align-self: end;
  justify-self: end;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  position: relative;
  z-index: 2;
}

.symptoms-list li {
  width: 280px;
  min-height: 170px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-family: var(--font-family);
  font-size: 18px;
  color: #e4e5e5;
  font-weight: 500;
}

.symptoms-img {
  position: absolute;
  bottom: -3px;
  left: 58px;
  user-select: none;
}

@media (max-width: 1023px) {
  .symptoms-img {
    left: -130px;
  }
}

@media (max-width: 767px) {
  .symptoms-container {
    justify-content: start;
  }

  .symptoms-section .section-title {
    margin-top: 0;
    font-size: 24px;
  }

  .symptoms-section .section-description {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .symptoms-list {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
  }

  .symptoms-list li {
    width: 320px;
    min-height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    font-size: 16px;
  }

  .symptoms-img {
    display: none;
  }
}

/* Importance section */
.importance-section {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.importance-container {
  width: min(100%, 1220px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.importance-section .section-title {
  color: #1e1842;
  font-size: 36px;
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 100%;
  text-align: center;
}

.importance-content {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.importance-card {
  width: 526px;
  height: 180px;
  padding-left: 40px;
  padding-right: 120px;
  border-radius: 30px;
  background: #499f0a;
  position: relative;
  display: flex;
  align-items: center;
}

.importance-text p {
  max-width: 593px;
  color: #1e1842;
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  position: relative;
  margin: 0;
}

.importance-card p {
  max-width: 350px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  position: relative;
  z-index: 1;
}

.importance-card img {
  position: absolute;
  top: 0;
  right: 0;
  user-select: none;
}

.importance-conclusion {
  position: relative;
  color: #1e1842;
  font-size: 24px;
  font-family: var(--second-family);
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}

.importance-num {
  font-size: 0.6em;
  line-height: 180%;
  vertical-align: top;
}

@media (max-width: 1023px) {
  .importance-content {
    flex-direction: column;
  }

  .importance-text p {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .importance-section {
    justify-content: start;
  }

  .importance-section .section-title {
    font-size: 24px;
    line-height: 100%;
  }

  .importance-content {
    margin-top: 20px;
    gap: 20px;
  }

  .importance-card {
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 20px;
  }

  .importance-card img {
    display: none;
  }

  .importance-text p,
  .importance-card p {
    max-width: 593px;
    font-size: 16px;
    line-height: 120%;
  }

  .importance-conclusion {
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    margin-top: 20px;
  }
}

/* Treatment section */
.treatment-section {
  padding-top: 70px;
  background-color: #64b22a;
  display: flex;
  align-items: center;
}

.treatment-container {
  width: min(100%, 1220px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.treatment-section .section-title {
  color: #ffffff;
  font-size: 36px;
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 1;
  text-align: center;
  align-self: stretch;
}

.treatment-content {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.treatment-card {
  width: 526px;
  min-height: 140px;
  padding-left: 120px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  border-radius: 30px;
  background-color: #ffffff;
  font-family: var(--font-family);
  font-size: 16px;
  color: #499f0a;
  font-weight: 600;
  line-height: 20px;
}

.treatment-card p {
  max-width: 350px;
}

.treatment-card img {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}

.treatment-text p {
  max-width: 593px;
  color: #ffffff;
  font-size: 18px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 24px;
  margin-top: auto;
  margin-bottom: auto;
  align-self: stretch;
}

.treatment-description {
  color: #ffffff;
  font-size: 18px;
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .treatment-section {
    align-items: start;
  }

  .treatment-section .section-title {
    font-size: 24px;
    line-height: 120%;
  }

  .treatment-content {
    margin-top: 20px;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .treatment-text p {
    text-align: center;
    font-size: 16px;
    line-height: 120%;
  }

  .treatment-card {
    width: 100%;
    min-height: auto;
    padding: 20px;
    border-radius: 20px;
  }

  .treatment-card p {
    max-width: 593px;
  }

  .treatment-card img {
    display: none;
  }

  .treatment-description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 120%;
  }
}

/* Effectiveness section */
.effectiveness-section {
  padding-top: 70px;
  display: flex;
  align-items: center;
}

.effectiveness-container {
  width: min(100%, 1200px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.effectiveness-section .section-title {
  color: #1e1842;
  font-size: 36px;
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.effectiveness-slider {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.effectiveness-slides {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.5s ease-in-out;
}

.effectiveness-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.effectiveness-card p {
  max-width: 333px;
}

.effectiveness-content {
  padding-bottom: 70px;
}

.prev,
.next {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
  display: none;
  top: 90%;
}

.prev {
  left: 50%;
  translate: -150% 0;
}

.next {
  right: 50%;
  translate: 150% 0;
}

.effectiveness-card img {
  user-select: none;
}

.effectiveness-card:nth-of-type(1) .effectiveness-card-icon,
.effectiveness-card:nth-of-type(2) .effectiveness-card-icon {
  margin-bottom: 15px;
}

.effectiveness-card-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #1e1842;
}

.effectiveness-card-for {
  margin-top: 10px;
  padding: 15px 20px;
  border-radius: 30px;
  background: #66b72a;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
}

.effectiveness-card-location {
  margin-top: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #1e1842;
}

.effectiveness-card-count {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.effectiveness-card-results {
  margin-top: 15px;
  border-radius: 30px;
  padding: 20px 20px 20px 40px;
  background: #66b72a;
  position: relative;
}

.results-text {
  width: 295px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
  text-align: left;
}

.results-citation {
  width: 310px;
  margin-top: 10px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #fff;
  text-align: left;
}

.effectiveness-card-quotes {
  position: absolute;
  top: 15px;
  left: 10px;
}

@media (max-width: 1079px) {
  .effectiveness-slides {
    align-items: start;
  }

  .prev,
  .next {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .effectiveness-card {
    flex: 0 0 50%;
  }
}

@media (max-width: 767px) {
  .effectiveness-section {
    align-items: start;
  }

  .effectiveness-card {
    flex: 0 0 100%;
  }
  .effectiveness-section .section-title {
    font-size: 24px;
    line-height: 120%;
  }

  .prev {
    top: 90%;
    left: 50%;
    translate: -300% 0;
  }

  .next {
    top: 90%;
    right: 50%;
    translate: 300% 0;
  }
}

/* Thanks */
.thanks-section {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.thanks-container {
  width: min(100%, 1180px);
  margin-left: auto;
  margin-right: auto;
  padding: 60px 40px 60px 80px;
  border-radius: 20px;
  background: #f5f3f4;
}

.thanks-images {
  display: flex;
  gap: 20px;
}

.thanks-images img {
  filter: drop-shadow(10px 20px 20px rgba(0, 0, 0, 0.2));
}

.thanks-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
}

.thanks-wrapper_img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 535px;
}

.thanks-text {
  width: 100%;
  max-width: 585px;
  margin-right: 100px;
}

.thanks-text__title {
  max-width: 458px;
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 600;
  font-size: 44px;
  line-height: 50px;
  color: #66b72a;
  margin-bottom: 35px;
}

.thanks-text__description {
  max-width: 458px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;
}

.where_buy {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: var(--font-family);
  border-radius: 20px;
  padding: 8px 32px 8px 40px;
  width: 212px;
  background: #66b72a;
  font-weight: 300;
  font-size: 20px;
  line-height: 90%;
  color: #20400d;
  text-decoration: none;
  text-wrap: nowrap;
  transition: 0.2s;
}

.where_buy:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .thanks-container {
    padding: 40px;
  }

  .thanks-wrapper {
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .thanks-text {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .thanks-text__title {
    margin-bottom: 20px;
    text-align: center;
    max-width: 100%;
  }
  .thanks-text__description {
    text-align: center;
    max-width: 100%;
  }

  .where_buy {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
  }
}

@media screen and (max-width: 767px) {
  .thanks-text__title {
    font-size: 24px;
    line-height: 120%;
  }

  .where_buy {
    font-size: 18px;
  }
}
/* Footer */

.page-footer {
  width: 100vw;
  padding-top: 90px;
  height: 100vh !important;
  translate: 0 0;
  position: relative;
  overscroll-behavior: contain;
}

.page-footer {
  border-top: 1px solid #e8eeef;
}

.page-footer__inner {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  padding-bottom: 150px;
  padding-top: 30px;
}

.page-footer__inner ul {
  padding-left: 40px;
}

.page-footer__inner p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-footer__inner a {
  color: #232323;
  text-decoration: underline;
  text-decoration-color: rgba(35, 35, 35, 0.3);
}

.page-footer__inner a:hover {
  text-decoration-color: rgba(35, 35, 35, 0);
}

.page-footer__privacy-policy {
  width: 100%;
}

.page-footer__forma {
  width: 100%;
  padding-top: 10px;
}

.page-footer__site-info {
  margin-top: 14px;
  width: 100%;
}

.page-footer__contraindications {
  width: 100%;
  color: #bac3c5;
  flex-basis: 100%;
  font: 300 21px "Yanone Kaffeesatz", sans-serif;
  letter-spacing: -2px;
  margin-top: 40px;
  max-width: 100%;
  text-align: center;
  text-transform: uppercase;
  line-height: 110%;
}

.page-footer__contraindications span {
  display: block;
  font-size: 33px;
}

@media (min-width: 768px) {
  .page-footer {
    height: 50vh !important;
    translate: 0 50%;
  }

  .page-footer__inner {
    width: 750px;
  }

  .page-header__nav-mobile {
    display: none;
  }
  .page-header__logo {
    margin-right: 5%;
  }
  .page-header__nav {
    display: block;
    left: auto;
    position: relative;
    top: auto;
    width: auto;
  }
  .page-header__where-buy {
    position: absolute;
    right: 0;
    top: 60px;
    display: flex;
    flex-wrap: wrap;
  }
  .page-header__where-buy-link {
    background-color: #60b124;
    border-radius: 32px;
    display: inline-block;
    font-size: 18px;
    height: 46px;
    line-height: 46px;
    margin: 5px 0 10px auto;
    padding: 0 24px;
    width: auto;
    min-width: 50%;
  }
  .page-header__where-buy-link img {
    display: inline-block;
  }
  .page-header__where-buy-link:hover {
    background-color: #67ba29;
    color: #fff;
  }
  .page-header__where-buy-mobile {
    display: none;
  }
  .page-content__section {
    margin-bottom: 20px;
  }
  .page-content__section--pregnancy {
    background-image: url(/local/templates/ecofucin.ru/images/pregnancy__woman.png);
    background-position: calc(100% + 135px) -76px;
    background-repeat: no-repeat;
  }

  .page-footer__privacy-policy {
    width: 35%;
  }
  .page-footer__forma {
    width: 100%;
    padding-top: 20px;
  }
  .page-footer__site-info {
    margin: 0;
    text-align: right;
    width: 65%;
  }
  .page-footer__contraindications {
    font-size: 30px;
    margin-top: 22px;
  }
  .page-footer__contraindications span {
    display: inline;
    font-size: inherit;
  }
}

@media (min-width: 992px) {
  .page-footer__inner {
    width: 970px;
  }
  .page-footer__contraindications {
    font-size: 48px;
    letter-spacing: -3px;
  }
}

@media (min-width: 1200px) {
  .page-footer__inner {
    width: 1170px;
  }
}
